# 🧩 Dependencias
node_modules/

# 🔐 Archivos sensibles
.env
backend/credentials.json

# 🍎 Archivos del sistema (macOS)
.DS_Store

# 🧹 Archivos temporales de logs o caché (opcional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
